*~
*.swp
*.dSYM

*.fasl

build/
installed/

make.lisp

src/llvm/cffi/llvm_api_low.lisp

src/crt/*.ll
src/crt/*.bc
src/crt/*.o
src/crt/test
src/crt/libowlisp-rt.so*

src/interpreterc/main
src/interpreterc/lexyacc/*.c
src/interpreterc/lexyacc/y.tab.h
src/interpreterc/lexyacc/parser

tests/*.bc
tests/*.s
tests/compileme
tests/compileme-if

