*~
*.swp

*.fasl

build/
installed/

make.lisp
owlisp-frontend
toolchain/owlisp

src/llvm/cffi/llvm_api_low.lisp

src/crt/*.ll
src/crt/*.bc
src/crt/*.o
src/crt/test
src/crt/libowlisp-rt.so*

tests/*.bc
tests/*.s
tests/compileme
tests/compileme-if

